.place-details-h {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
h2{
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5rem;
  margin-bottom: 8px;
}
h1 {
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.place-address-h{
  margin-bottom: 15px;
  color:#645b5b;
}
.place-description-h,
.art-architecture-h {
  font-weight:normal ;
  color: black;
  margin-bottom: 15px;
}

.place-address-h {
  font-style: italic;
}

.place-description-h {
  font-size: 1.3rem;
}
.icon-h {
  margin-right: 8px;
  vertical-align: middle;
}
.section-image-h {
  margin-top: 15px;
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}
.travel-overlay-h {
  background-color: #f8f8f8;
  padding: 30px;
  border-radius: 8px;
  margin-top: 30px;
}

.travel-title-h {
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.card-container-h {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.card-h {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.card-h:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.card-h h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card-h p {
  font-size: 1.1rem;
}
.timing-cards-h {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.timing-card-h {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.timing-card-h strong {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.timing-card-h p {
  font-size: 1.1rem;
}
.interesting-facts-h ul {
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  list-style-type: disc;
  padding-left: 20px;
  
}

.interesting-facts-h li {
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight:normal ;
  color: black;
  margin-bottom: 15px;
}
.visiting-info-h {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
}

.visiting-info-h p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.visiting-info-h strong {
  font-weight: bold;
}
.contact-info-h {
  margin-top: 30px;
}

.contact-info-h ul {
  font-size: 1.2rem;
  font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.contact-info-h a {
  color: #007bff;
  text-decoration: none;
}

.contact-info-h a:hover {
  text-decoration: underline;
}


.place-images-h {
  margin-top: 30px;
}

.image-gallery-h {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.image-gallery-h img {
  width: 25%;
  height: auto;
  object-fit: cover;
}
.weather-container{
  height:350px;
}
.weather-box {
  /* height:450px; */
   padding: 20px; 
  border: 1px solid #ccc;
  margin-bottom:10px;
  border-radius: 10px;
  background: #f2f2f2;
  max-width: 400px;
}

.weather-details {
  display: flex;
  align-items: center;
  gap: 15px;
}

.weather-details img {
  width: 64px;
  height: 64px;
}
.map-weather-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;  
  margin: 20px auto;
  max-width: 90%;
}


